section.new-tweet {
	border-radius: 20px;
	padding: 2em 2em;
	background-color: #eee;
	margin: auto;
	width: 100%;
	position: relative;
}

section h2 {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

textarea {
	padding: 4px 125px 4px 4px;

	/*width: 100%;*/
}

span.counter {
	float: right;
}

 
